@import "./reset";
@import "./font";
@import "./Dheader";
@import "./Drows.scss";

.wrapper {
  h2 {
    margin-top: 50px;
    color: white;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-height: 95%;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    &::-webkit-scrollbar {
      width: none;
      border-radius: 12px;
    }
    // &::-webkit-scrollbar-thumb {
    //   background: #aaa;
    //   border-radius: 12px;
    // }
  }

  .close-btn {
    border: none;
    border-radius: 50%;
    background: rgb(241, 236, 236);
    font-size: 15px;
    padding: 5px 9px;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 16.5%;
  }
}
